
/**************************
MEDIA QUERIES
***************************/

@media only screen and (min-width: 481px) {

.filler {
	background: url('../images/travel2.jpg') no-repeat;
    background-size: cover;
	margin-top: 30px;
	margin-bottom: -150px;
	
}


}




@media only screen and (max-width: 767px) {
  
  .hamburger {
    padding: 15px;
    display: block;
  }

  .line {
    border-bottom: 4px solid black;
    width: 35px;
    margin-bottom: 6px;
  }
  


  nav li {
    width: 70%;

  }
  
  .block {
    height: 0;
    overflow: hidden;
    transition: height 0.3s linear;
  }
  
  .slide-down {
    height: 130px;
     background-color: rgba(0,0,0,0.1);
     margin-bottom: 0;
     margin-top: -5px;;
     overflow: hidden;
  }

  .bottomfooter {
  display: none;

}
}





@media screen and (min-width: 768px){
	

/**************************
INDEX
***************************/


header {
	float: left;
	margin-left: 40px;
}

.menu {

	float: right;
	margin-right: 40px;
}

#gallery {

	 & li:nth-child(3n) {
    clear: left;
  }

	   & li:nth-child(6n) {
	    clear: right;
	  }

	  & li {
		float: left;
		width: 40%;
		margin: 5%;
		color: black;
}


}


.profile-image {
	float: right;
	width: 40%;
	display: inline-block;
	padding-bottom: 30px;
	border-radius: 10px;
	margin-right: 60px;
}

.blurb {
	width: 45%;
	float: left;
	margin-left: 20px;
	margin-top: 0;
	display: inline-block;
}

.menu a {
	color: black;
	font-family: 'Oswald', sans-serif;
}

.set {
   display: inline-block;
   background-color: #d3d3d3;

}

.block {

	& {
		margin-bottom: 40px;
		margin-top: 20px;
	}

	& li{
		display: inline-block;
	    padding: 0;

	}

}

 


.footer {
	clear: both;
	margin-top: 20px;
	margin-bottom: -40px;
}

.bottomname {
  float: left;
  margin-top: 35px;
  margin-left: 40px;
  font-weight: bold;

}



.bottomfooter ul {
	list-style: none;
	padding-left: 0;
}

.bottomnav {

	  & {

		float: right;
		margin-top: 30px;
	}
	  & li{

		float: right;
		margin-left: 10px;
		margin-right: 40px;
		padding-left: 10px;
		font-weight: bold;

	}

	  & li a {
		text-decoration: none;
		color: black;
		font-family: 'Oswald', sans-serif;
	}

	  & a:hover {
		color: red;
	}

}



.pusher {
	height: 30px;
}


/**************************
PORTFOLIO
***************************/



.direction {
	display: none;
}

}





@media screen and (min-width: 1024px){

/**************************
INDEX PAGE
***************************/

#gallery {

	& li:nth-child(3n) {
    clear: right;
  }

   & li:nth-child(6n) {
    clear: right;
  }

   & li {
	float: left;
	width: 28%;
	margin: 2%;
	color: black;
}


}


.set {

	margin-top: 10px;
}



.block li{
	display: inline-block;
} 


.footer {
	clear: both;
}

.direction {
	display: none;
}

/**************************
PORTFOLIO
***************************/





header {
	float: left;
	margin-left: 40px;
}


.menu {


  & {

	float: right;
	margin-right: 40px;
}
 
   & li a{
 	color: black;
 	font-family: 'Oswald', sans-serif;
 }

}


}













