/******************************
FOOTER
*******************************/


.footer {

	& {
  margin-bottom: 0;  
    }

	& .copyright {
		@include text(0.7em, bold, green);
	   padding-bottom: 20px;
	}

	& ul {
	   list-style-type: none;
	   margin: 0;
	   padding: 0;

	}

	& ul li {
	  display: inline-block;
	}
   
    @media #{$brk-minlarge} {
    	clear: both;
	    margin-top: 20px;
	    margin-bottom: -40px;

    }

}

.bottomname {
 @media #{$brk-minlarge} {
      float: left;
	  margin-top: 35px;
	  margin-left: 40px;
	  font-weight: bold;

    }

}


.bottomfooter ul {
 @media #{$brk-minlarge} {
      list-style: none;
	  padding-left: 0;

    }

}

.bottomnav {
   @media #{$brk-minlarge}  {
         & {

		float: right;
		margin-top: 30px;
	}
	  & li{

		float: right;
		margin-left: 10px;
		margin-right: 40px;
		padding-left: 10px;
		font-weight: bold;

	}

	  & li a {
		text-decoration: none;
		color: $color-prim;
		font-family: $stack-oswald;
	}

	  & a:hover {
		color: $color-hover;
	}

   }

}


.clearfix {
 @extend %clear;
}


.contact {
    
	   & {
	  margin-top: 80px;
	   @extend %clear;

	}
	  & p {
	   font-family: $stack-kalam;

	}
}

.direction {
	@media #{$brk-minlarge} {
			display: none;
	}
}







