/******************************
FOOTER
*******************************/


.footer {

	& {
  margin-bottom: 0;  
    }

	& .copyright {
	   font-size: .9em;
	   padding-bottom: 20px;
	}

	& ul {
	   list-style-type: none;
	   margin: 0;
	   padding: 0;
	}

	& ul li {
	  display: inline-block;
	}
}




.clearfix {
  clear: both;
}

.contact {
  
  margin-top: 200px;

}