/******************************
FOOTER
*******************************/


.footer {

	& {
  margin-bottom: 0;  
    }

	& .copyright {
	   font-size: .9em;
	   padding-bottom: 20px;
	}

	& ul {
	   list-style-type: none;
	   margin: 0;
	   padding: 0;

	}

	& ul li {
	  display: inline-block;
	}
}




.clearfix {
 @extend %clear;
}


.contact {
    
	   & {
	  margin-top: 80px;
	   @extend %clear;

	}
	  & p {
	   font-family: 'kalam', Arial, sans-serif;

	}
}







