
header {
 	margin-bottom: -30px;
 	padding-left: 35px;

 	@media #{$brk-minlarge} {
      float: left;
	  margin-left: 40px;
 	}


}


nav li:last-child {
  border-right: none;
}

.menu {
	@extend %margin;
	overflow: hidden;

	@media #{$brk-minlarge} {
      float: right;
	   margin-right: 40px;
 	}

}

.name {
	 font-family: $stack-oswald; 
}

.block li{
	@include text(1em, bold, #000);
	list-style: none;
	margin: 20px;
	display: block;
	margin-bottom: 10px;
	
	
}

.bottom {
	@include text(1em, bold, #000);
	float: left;
	margin-left: 5px; 
}






