
/**************************
MEDIA QUERIES 
***************************/


@media screen and (min-width: 768px){
	

/**************************
INDEX
***************************/


.blurb {
	width: 45%;
	float: left;
	margin-left: 20px;
	margin-top: 0;
	display: inline-block;
}

.menu a {
	color: $color-prim;
	font-family: $stack-oswald;
}

.set {
   display: inline-block;
   background-color: $color-last;

}

.block {

	& {
		margin-bottom: 40px;
		margin-top: 20px;
	}

	& li{
		display: inline-block;
	    padding: 0;

	}

}

 


.footer {
	clear: both;
	margin-top: 20px;
	margin-bottom: -40px;
}

.bottomname {
  float: left;
  margin-top: 35px;
  margin-left: 40px;
  font-weight: bold;

}



.bottomfooter ul {
	list-style: none;
	padding-left: 0;
}

.bottomnav {

	  & {

		float: right;
		margin-top: 30px;
	}
	  & li{

		float: right;
		margin-left: 10px;
		margin-right: 40px;
		padding-left: 10px;
		font-weight: bold;

	}

	  & li a {
		text-decoration: none;
		color: $color-prim;
		font-family: $stack-oswald;
	}

	  & a:hover {
		color: $color-hover;
	}

}



.pusher {
	height: 30px;
}


/**************************
PORTFOLIO
***************************/



.direction {
	display: none;
}

}





@media screen and (min-width: 1024px){

/**************************
INDEX PAGE
***************************/

#gallery {

	& li:nth-child(3n) {
    clear: right;
  }

   & li:nth-child(6n) {
    clear: right;
  }

   & li {
	float: left;
	width: 28%;
	margin: 2%;
	color: $color-prim;
}

}


.set {

	margin-top: 10px;
}



.block li{
	display: inline-block;
} 


.footer {
	clear: both;
}

.direction {
	display: none;
}

/**************************
PORTFOLIO
***************************/





header {
	float: left;
	margin-left: 40px;
}


.menu {


  & {

	float: right;
	margin-right: 40px;
}
 
   & li a{
 	color: $color-prim;
 	font-family: $stack-oswald;
 }

}


}













