
/**************************
MEDIA QUERIES 
***************************/


@media screen and (min-width: 768px){
	

/**************************
INDEX
***************************/



// .pusher {
// 	height: 200px;
// }


/**************************
PORTFOLIO
***************************/



.direction {
	display: none;
}

}





@media screen and (min-width: 1024px){

/**************************
INDEX PAGE
***************************/



.set {

	margin-top: 10px;
}



.block li{
	display: inline-block;
} 


.footer {
	clear: both;
}

.direction {
	display: none;
}

/**************************
PORTFOLIO
***************************/





header {
	float: left;
	margin-left: 40px;
}


.menu {


  & {

	float: right;
	margin-right: 40px;
}
 
   & li a{
 	color: $color-prim;
 	font-family: $stack-oswald;
 }

}


}













