
/******************************

Base styles

*******************************/

* { 
  box-sizing: border-box;
}
  


body {
	text-align: center;
	margin: 0 auto;
	background-color: #f5deb3;
    font-family: "Open Sans", sans-serif; 
    margin: 0 auto;
    max-width: 1300px;
}

.menu {
	margin-top: 0;
	overflow: hidden;
}


.block li{
	list-style-type: none;
	display: inline-block;
	margin-left: 15px;
	margin: 20px;
	font-weight: bold;
	font-size: 1em;
	display: block;
	margin-bottom: 10px;
	
}

header {
 	margin-bottom: -30px;
 	padding-left: 35px;


}

.name {
	 font-family: "Oswald", sans-serif; 
}


img:hover {
  
  box-shadow: 0 0 15px rgba(0,0, 0, .7);
  transform:skewY(1.5deg);
 

}

img {
	max-width: 90%;
	transition: transform .5s;
	transition-property: box-shadow;
    transition-duration:  .4s;
    margin-bottom: 30px;
    border: 2px solid white;
}

.profile {

  &-image {
	height: 250px;
	width: 80%;
	margin: 10px auto;
    background: url('../images/travel2.jpg') no-repeat;
    background-size: cover;
    border: 2px solid white;
}

   &-picture {
	height: 200px;
	width: 200px;
	border-radius: 100px;
	border: 2px green solid;
	margin-top: 20px;
}

}

.blurb {
	margin: 10px;
	font-family: 'kalam', sans-serif;


}

.bottom {
	font-size: 0.8em;
	float: left;
	margin-left: 20px; 
}

.top {
	& {
		font-size: 0.8em;
		float: right;
		margin-right: 20px;
	}
	&:hover {
		color: red;
	}
}


a {
	& {
	  text-decoration: none;
	  color: #000000;
	}
	&:hover {
	  color: black;


	}

	&.social {
	  display: inline-block;
	  text-indent: -9999px;
	  margin-left: 5px;
	  width: 50px;
	  height: 50px;
	  background-size: 50px;
	  background-repeat: no-repeat;
	  opacity: .7;
	  transition: all .5s;
	}

	&.twitter {
	  background-image: url(../images/twitter.svg);
	}

	&.linkedin {
	  background-image: url(../images/linkedin.svg);
	}
	 &.github {
	  background-image: url(../images/github.svg);
	}

	&.social:hover {
	  opacity: 1;
	}
}

li {
	transition: transform .5s;
}

.block li:hover {
	transform: scale(1.3);
	transition: transform .5s;

}

.set {
	margin-top: -10px;
}

.portfolio {
	margin-top: 50px;
}




