
/******************************

Base styles

*******************************/

* { 
  box-sizing: border-box;
}
  


body {
	text-align: center;
	margin: 0 auto;
	background-color: #f5deb3;

}

.menu {
	margin-top: 0;
	overflow: hidden;
}

.block li{
	display: block;
	margin-bottom: 40px;
}




ul li{
	list-style-type: none;
	display: inline-block;
	margin-left: 15px;
	margin: 20px
}



img {
	max-width: 100%;
}

.profile {

  &-image {
	height: 250px;
	margin: 10px 10px;
    background: url('../images/travel2.jpg') no-repeat;
    background-size: cover;
}

   &-picture {
	height: 200px;
	width: 200px;
	border-radius: 100px;
	border: 2px green solid;
	margin-top: 20px;
}

}



.button {
  height: 25px;
  width: 100%;
  border-radius: 10%;
  border: 2px solid red;
  font-size: 0.8em;
  background: purple;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.blurb {
	font-weight: bold;
	margin: 10px;


}

.bottom {
	font-size: 0.8em;
	float: left;
	margin-left: 20px; 
}

.top {
	& {
		font-size: 0.8em;
		float: right;
		margin-right: 20px;
	}
	&:hover {
		color: red;
	}
}


a {
	& {
	  text-decoration: none;
	  color: #000000;
	}
	&:hover {
	  color: yellow;
	}

	&.social {
	  display: inline-block;
	  text-indent: -9999px;
	  margin-left: 5px;
	  width: 50px;
	  height: 50px;
	  background-size: 50px;
	  background-repeat: no-repeat;
	  opacity: .7;
	  transition: all .5s;
	}

	&.twitter {
	  background-image: url(../images/twitter.svg);
	}

	&.linkedin {
	  background-image: url(../images/linkedin.svg);
	}
	 &.github {
	  background-image: url(../images/github.svg);
	}

	&.social:hover {
	  opacity: 1;
	}
}

