
/******************************

Base styles

*******************************/

* { 
  box-sizing: border-box;
}
  


body {
	text-align: center;
	margin: 0 auto;
	background-color: #f5deb3;
    font-family: "Open Sans", sans-serif; 
    margin: 0 auto;
    max-width: 1300px;
}


img {

&:hover {
  
  box-shadow: 0 0 15px rgba(0,0, 0, 1);
  transform:skewY(2deg);
 

}

& {
	max-width: 90%;
	transition: transform .5s;
	transition-property: box-shadow;
    transition-duration:  .4s;
    margin-bottom: 30px;
    border: 2px solid white;
}

}


.profile {

  &-image {
	height: 250px;
	width: 80%;
	margin: 10px auto;
    background: url('../images/travel2.jpg') no-repeat;
    background-size: cover;
    border: 2px solid white;
}

   &-picture {
	height: 200px;
	width: 200px;
	border-radius: 100px;
	border: 2px green solid;
	margin-top: 20px;
}

}

.blurb {
	margin: 10px;
	font-family: 'kalam', sans-serif;


}



.top {
	& {
		font-size: 0.8em;
		float: right;
		margin-right: 20px;
	}
	&:hover {
		color: red;
	}
}

li {

	& {
		transition: transform .5s;
	}

	.block &:hover {
		transform: scale(1.3);
		transition: transform .5s;

	}

}



.set {
	margin-top: -10px;
}

.portfolio {
	margin-top: 50px;
}




