 
 //Descriptive color variables

 $white             : #fff;
 $black             : #000;
 $grey              : #878787;
 $wheat             : #f5deb3;
 $green             : #006600;
 $red               : #FF0000;
 $lightgray         : #d3d3d3;

 //Functional color variables

 $color-prim         :$black;
 $color-sec          : $white;

 $color-image        : $green;
 $color-hover        : $red ;
 $color-body         : $wheat; 
 $color-gray         : $lightgray;

 //Font Stack

 $stack-sans-serif   :"Open Sans", Arial, sans-serif; 
 $stack-kalam        ;'kalam', Arial, $stack-sans-serif;
 $stack-oswald       ; 'Oswald', Arial, $stack-sans-serif;